<div class="content-holder">
  <aside class="availability-filters">
    <ul class="nav-pills">
      <li class="active"><a href="#button">Show All</a></li>
      <li><a href="#">Available</a></li>
      <li><a href="#">Not Available</a></li>
    </ul>
  </aside>
  <div class="search-holder">
    <!-- Search directive -->
  </div>
  <div class="grid-holder">
    <dl class="item-holder">
      <dt class="device-identifier">M87</dt>
        <dd class="platform platform-android"></dd>
        <dd class="item-type item-phone"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">Android</span>
          <span class="platform-version">4.4.4</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Red</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Sofia</span>
          <i class="location"></i>
        </dd>
        <dd class="item-current-holder">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <img src="images/icon-skype.png" width="20" class="current-holder-skype" />
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>

    <dl class="item-holder">
      <dt class="device-identifier">M87</dt>
        <dd class="platform platform-android"></dd>
        <dd class="item-type item-tablet"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">Android</span>
          <span class="platform-version">4.4.4</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Red</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Sofia</span>
          <i class="location"></i>
        </dd>
        <dd class="item-current-holder">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <img src="images/icon-skype.png" width="20" class="current-holder-skype" />
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="mailto:#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>

    <dl class="item-holder">
      <dt class="device-identifier color-available">M87</dt>
        <dd class="platform platform-ios"></dd>
        <dd class="item-type item-phone"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">Android</span>
          <span class="platform-version">4.4.4</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Red</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Sofia</span>
          <i class="location"></i>
        </dd>
        <dd class="item-current-holder">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <img src="images/icon-skype.png" width="20" class="current-holder-skype" />
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>
  </div>
</div>