<div class="content-holder">
  <aside class="availability-filters">
    <ul class="nav-pills">
      <li class="active"><a href="#button">Show All</a></li>
      <li class="available"><a href="#">Available</a> <span>13</span></li>
      <li class="not-available"><a href="#">Not Available</a> <span>87</span></li>
    </ul>
  </aside>
  <div class="search-holder">
    <!-- Search directive -->
  </div>
  <div class="searchbox-holder">
    <div class="search-decoration">
      <input type="text" class="searchbox" value="" placeholder="Ex: M84, Motorola, Android, iPhone 4S" />
    </div>
  </div>
  <div class="grid-holder">
    <dl class="item-holder">
      <dt class="device-identifier">M101</dt>
        <dd class="platform platform-android"></dd>
        <dd class="item-type item-phone"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">Android</span>
          <span class="platform-version">4.4.4</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Red</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Sofia</span>
          <i class="location"></i>
        </dd>
        <dd class="current-holder-contacts">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <img src="images/icon-skype.png" width="20" class="current-holder-skype" />
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>

    <dl class="item-holder">
      <dt class="device-identifier">M7</dt>
        <dd class="platform platform-android"></dd>
        <dd class="item-type item-tablet"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">Android</span>
          <span class="platform-version">4.4.4</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Salmon</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Veliko Tarnovo</span>
          <i class="location"></i>
        </dd>
        <dd class="current-holder-contacts">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <a href="skype:mentormate_plamen.stoev?chat"><img src="images/icon-skype.png" width="20" class="current-holder-skype" /></a>
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="mailto:#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>

    <dl class="item-holder">
      <dt class="device-identifier color-available">M87</dt>
        <dd class="platform platform-ios"></dd>
        <dd class="item-type item-phone"></dd>
        <dd class="item-details">
          <span class="item-manufacturer">Motorola Moto</span>
          <span class="item-model">XT1068</span>
          <span class="item-info">phone</span>
        </dd>
        <dd class="platform-version">
          <span class="platform-type">iOS</span>
          <span class="platform-version">8</span>
        </dd>
        <dd class="device-screen">
          <span class="device-resolution">1080x1920</span>
          <span class="device-screen-size">5"</span>
        </dd>
        <dd class="device-color">
          <span class="device-color-name">Red</span>
          <span class="device-color-hex" style="background-color: #369;"></span>
        </dd>
        <dd class="item-location">
          <span class="location-name">Sofia</span>
          <i class="location"></i>
        </dd>
        <dd class="current-holder-contacts">
          <a class="link-skype" href="#">
            <img src="images/sad-firefox.jpg" width="48" class="current-holder-picture" title="Plamen Stoev" />
            <img src="images/icon-skype.png" width="20" class="current-holder-skype" />
          </a>
        </dd>
        <dd class="current-holder-info">
          <span class="current-holder-team">Spok</span>
          <a href="#" class="current-holder-eamil">plamen.stoev@mentormate.com</a>
        </dd>
        <dd class="recent-activity">
          <a class="last-activity" title="2015-03-15 13:12:11">5 days</a>
        </dd>
        <dd class="hr"></dd>
    </dl>
  </div> <!-- END .grid-holder -->

  <!-- BEGIN Submission form -->
    <div class="submit-device-holder">
      <h2 class="title"><span class="device-identifier">M87</span> will be submitted</h2>
      <div class="submission-data">
        
        <div class="filter filter-city">
          <button type="button" class="filter-header">
            <span class="filter-header-label">City</span>
            <span class="filter-header-selected-item">Sofia</span>
          </button>
          <nav class="filter-content">
            <ul>
              <li>Sofia</li>
              <li>Plovdiv</li>
            </ul>
          </nav>
        </div>

        <div class="filter filter-team filter-expanded">
          <button type="button" class="filter-header">
            <span class="filter-header-label">Team</span>
            <span class="filter-header-selected-item"></span>
          </button>
          <nav class="filter-content">
            <ul>
              <li>AccuLynx</li>
              <li>Agile Frameworks</li>
              <li>Android Team</li>
              <li>iOS Team</li>
              <li>NativeX</li>
              <li>PickPointz</li>
              <li>QA</li>
            </ul>
          </nav>
        </div>

      </div> <!-- END .submission-data -->
      <div class="submission-buttons">
        <button type="button" class="btn btn-close">
          <span class="btm-label">Close</span>
          <span class="btn-shortcut">ESC</span>
        </button>
        <button type="button" class="btn btn-submit">
          <span class="btn-label">Submit</span>
          <span class="btn-shortcut">CTRL + Enter</span>
        </button>
      </div>
    </div>
  <!-- END Submission form -->
</div> <!-- END .content-holder -->