<div class="head-container">
  <aside class="availability-filters">
    <div class="nav-availability">
      <button class="active show-all" ng-click="filterByAvailabilityDevices($event)">
        <span class="availability-label">Show All</span>
      </button>
      <button id="true" class="available" ng-click="filterByAvailabilityDevices($event)">
        <span class="availability-label">Available</span>
        <!-- span class="availability-count" ng-bind="availableCount"></span -->
      </button>
      <button id="false" class="not-available" ng-click="filterByAvailabilityDevices($event)">
        <span class="availability-label">Not Available</span>
        <!-- span class="availability-count" ng-bind="notAvailableCount"></span -->
      </button>
    </div>
  </aside>
  <div class="sorting-holder">
    <span>Sort By</span>
    <select ng-model="sortBy" ng-change="sortDevices()">
      <option ng-select="sortDevices" ng-repeat="sortColumn in deviceSortColumns" value="{{sortColumn.id}}">{{sortColumn.name}}</option>
    </select>
    <img class="direction-image" ng-src="UI/images/icon-{{itemsOrder}}.png" ng-click="changeDevicesSortDirection($event)"></img>
  </div>
  <div class="pagination-holder">
    <span ng-show="totalCount">
        <select ng-options="option.offset as option.text for option in  deviceRangeList" ng-model="criteria.offset" ng-change="updatePage()"></select>
    </b>
    </span> of <b><span ng-bind="totalCount"></span></b> Devices
    </span>
    <img src="UI/images/btn-30-left.png" ng-click="loadPreviousDevicesPage()" />
    <img src="UI/images/btn-30-right.png" ng-click="loadNextDevicesPage()" />

  </div>
  <div class="searchbox-holder">
    <form name="searchForm" class="search-decoration" ng-submit="submitDevicesSearchByKeyword()">
      <input name="keyword" type="text" class="searchbox" value="" ng-model="criteria.Keyword" ng-model-options="{ debounce: 500 }" placeholder="TYPE YOUR SEARCH HERE" ng-change="submitDevicesSearchByKeyword()" />
      <span ng-show="criteria.Keyword.length > 0" class="search-clear ng-hide" ng-click="resetKeyword()">
    <i class="glyphicon glyphicon-remove"></i>
    </span>
      <input type="submit" value="" class="ng-hide" />
    </form>
  </div>
</div>
<div class="grid-holder" ui-view>
  <dl ng-repeat="device in devices" class="item-holder search-result-item" ng-click="prepSubmission(device);">
    <dt class="device-identifier {{device.isBusyClass}}">{{device.itemNumber}}</dt>
    <dd ng-class="{'platform-notset':accessory.osType}" class="platform platform-{{device.osType.toLowerCase()}}"></dd>
    <dd class="item-type item-{{device.type}}"></dd>
    <dd class="item-details">
      <span class="item-manufacturer">{{device.name}}</span>
      <span class="item-model">{{device.model}}</span>
      <span ng-click="$event.stopPropagation();" class="item-info">{{device.info}}</span>
    </dd>
    <dd class="platform-version">
      <span class="platform-type">{{device.osType}}</span>
      <span class="platform-version">{{device.osVersion}}</span>
    </dd>
    <dd class="device-screen">
      <span class="device-resolution" ng-show="device.width||device.height">{{device.width}}x{{device.height}}</span>
      <span class="device-screen-size">{{device.screenSize}}</span>
    </dd>
    <dd class="device-color">
      <span class="device-color-name">{{device.color}}</span>
      <span ng-if="!device.color" class="device-color-name">N/A</span>
      <span ng-if="device.color" class="device-color-hex" style="background-color: {{device.colorHex}};"></span>
    </dd>
    <dd class="item-location">
      <a ng-click="stopPropagation($event);" ng-href="/Employee/Location/?email={{device.email}}" target="_blank">
        <span class="location-name">{{device.location}}</span>
        <i class="location"></i>
      </a>
    </dd>
    <dd class="current-holder-contacts">
      <div class="profile-images-container">
        <div class="profile-pic-holder">
          <div class="profile-pic-positioner">
            <img ng-src="{{device.holderProfileImage}}" width="48" class="current-holder-picture" />
          </div>
        </div>
        <div ng-if="device.holderProfileImage" class="popup-image">
          <i class="icon-shareable nav-glyph"> {{device.team}}</i>
          <div class="details-zone">
            <div class="profile-pic-holder">
              <div class="profile-pic-positioner">
                <img ng-src="{{device.holderProfileImage}}" class=3 "current-holder-picture" />
              </div>
            </div>
            <span>{{device.holderName}}</span>
            <a href="mailto:{{device.email}}" ng-click="stopBubbling($event)">{{device.email}}</a>
          </div>
        </div>
      </div>
      <a class="link-skype" ng-href="skype:{{device.contactSkype}}?chat" ng-click="stopPropagation($event);">
        <img src="UI/images/icon-skype.png" width="20" class="current-holder-skype" />
      </a>
    </dd>
    <dd class="current-holder-info">
      <span class="current-holder-team">{{device.team}}</span>
      <a href="mailto:{{device.email}}" ng-click="stopBubbling($event)" class="current-holder-email">{{device.email}}</a>
    </dd>
    <dd class="buttons-holder" ng-show="root.me.IsAdmin">
      <a ui-sref="editdevice({deviceID: {{device.itemID}} })" ng-click="stopBubbling($event)" class="btn-custom small-circle"><i class="icon-pencil"></i></a>
      <button ng-click="deleteDevice(device,$event)" data-item-id="260" class="small-circle">
        <i class="icon-cancel"></i>
      </button>
    </dd>
    <dd class="recent-activity">
      <a class="last-activity" title="{{device.dateTaken}}" am-time-ago="device.dateTaken" am-timezone="Europe/Helsinki" ng-click="showHistory(device)"></a>
    </dd>
    <dd class="hr"></dd>
  </dl>

  <!-- BEGIN Submission form -->
  <div class="submit-devices-holder">
    <div class="submit-device-holder" ng-repeat="device in devicesForSubmission">
      <h2 class="title"><span class="device-identifier {{device.isBusyClass}}">{{device.itemNumber}}</span> will be submitted</h2>
      <div class="submission-data">

        <div class="filter filter-city">
          <button type="button" class="filter-header">
            <span class="filter-header-label">City:</span>
            <span class="filter-header-selected-item">{{root.me.Location.Name}}</span>
          </button>
        </div>

        <div class="filter filter-team filter-expanded">
          <button type="button" class="filter-header">
            <span class="filter-header-label">Team:</span>
            <span class="filter-header-selected-item"></span>
          </button>
          <nav class="filter-content">
            <ul>
              <li ng-class="{'selected-team' : team.Id == device.teamID}" ng-click="setTeam(team,device)" ng-repeat="team in teams" scroll-if="team.Id == device.teamID">{{team.Name}}</li>
            </ul>
          </nav>
        </div>

      </div>
      <div class='isBussy-button'>
          <input id="device_{{device.itemID}}" type="checkbox" ng-model="device.IsBusy">
          <label for="device_{{device.itemID}}"> <span></span>Device is available</label>
      </div>
      <!-- END .submission-data -->
      <div class="submission-buttons">
        <button type="button" class="btn btn-close" ng-click="removeDevice(device);">
          <span class="btm-label">Close</span>
        </button>
        <button type="button" class="btn btn-submit" ng-click="submitDevice(device);">
          <span class="btn-label">Submit</span>
        </button>
      </div>
    </div>
  </div>
  <!-- END Submission form -->

  <item-history item="currentDevice" item-type="devices" ng-show="historyShown" on-history-close="hideHistory()"></item-history>
</div>
